*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: yellow;
}

button{
   
    margin-left: 45%;
    background: blue;
    color: white;
    border-radius: 5px;
    padding: 12px;
    font-size: 20px;
    border: none;
    margin-top: 10px;
}

#result{
    margin-left: 30%;
    font-size: 35px;
    margin-top: 20%;
    font-family: Arial, Helvetica, sans-serif;
}